/* styles.css */

.uberTitulo {
    color: orangered;
    font-size: x-large;
}

.titulo {
    color: darkcyan;
    font-weight: bolder;
    font-size: larger;
}

.numLista {
    color: darkgreen;
    font-weight: bold;
    font-size: small;
}

.recetas {
    color:navy;
    font-size: small;
}

